h2:hover {
    display: block;
    color:black;
    background-color: red;
  

}
p{
    color: teal;
  
}
.esma {
    color: red;
  
}
#esmanur{
    color: fuchsia;
}
title[{
    color:palevioletred;
}
.title{
color: black;
